@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.home-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

a {
  text-decoration: none;
}
